{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 my-3">
        <div class="card">
            <div class="card-header text-center lead fw-bold">
                Log In
            </div>
            <form method='POST', action="{% url 'core:login' %}">
                {% csrf_token %}
                <div class="card-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="johndoe" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="********" name="password">
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary" id="pickUsernameBtn">Continue!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}